<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.themescoder.driver">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />

    <application
        android:name="com.themescoder.driver.App"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true"
        tools:ignore="GoogleAppIndexingWarning">

        <activity android:name="com.themescoder.driver.MapActivity" />
        <!-- Splash Screen Activity -->


        <activity
            android:name="com.themescoder.driver.SplashActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity> <!-- Main Screen Activity -->
        <activity
            android:name="com.themescoder.driver.LoginActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />
        <activity
            android:name="com.themescoder.driver.MainActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.themescoder.driver.OrderDetailsActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.themescoder.driver.LegalContectsActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.themescoder.driver.ImagePreviewActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.themescoder.driver.AccountInfoActivity"
            android:screenOrientation="portrait" />

        <service
            android:name="com.themescoder.driver.services.TrackingService"
            android:enabled="true"
            android:exported="true" />

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_api_app_id"/>
    </application>

</manifest>